In [225]:
import pandas as pd

In [226]:
df = pd.read_csv("AmazonData.csv")

In [227]:
df.head()

,date,number,name,rating,n_reviews,price
0,2021-02-01,1,Fire TV Stick 4K streaming device with Alexa V...,4.7,"512,797",$39.99
1,2021-02-01,2,"Amazon Smart Plug, works with Alexa – A Certif...",4.7,"328,652",$24.99
2,2021-02-01,3,Echo Show 5 -- Smart display with Alexa – stay...,4.6,"298,030",$44.99
3,2021-02-01,4,"All-new Echo Dot (4th Gen, 2020 release) | Sma...",4.7,"138,241",$44.99
4,2021-02-01,5,Roku Streaming Stick+ | HD/4K/HDR Streaming De...,4.7,"62,702",$39.00

In [228]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18100 entries, 0 to 18099
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       18100 non-null  object
 1   number     18100 non-null  int64
 2   name       18100 non-null  object
 3   rating     18100 non-null  object
 4   n_reviews  18100 non-null  object
 5   price      18100 non-null  object
dtypes: int64(1), object(5)
memory usage: 848.6+ KB

In [229]:
df.describe()

             number
count  18100.000000
mean      50.500000
std       28.866867
min        1.000000
25%       25.750000
50%       50.500000
75%       75.250000
max      100.000000

In [230]:
df.describe(include='object')

,date,name,rating,n_reviews,price
count,18100,18100,18100,18100,18100
unique,180,710,24,13564,1630
top,2021-05-15,Blink Mini – Compact indoor plug-in smart secu...,4.7,No customer reviews yet,$24.99
freq,200,302,4915,141,464

In [231]:
#df.sort_values("name", inplace=True)

In [232]:
df.head()

,date,number,name,rating,n_reviews,price
0,2021-02-01,1,Fire TV Stick 4K streaming device with Alexa V...,4.7,"512,797",$39.99
1,2021-02-01,2,"Amazon Smart Plug, works with Alexa – A Certif...",4.7,"328,652",$24.99
2,2021-02-01,3,Echo Show 5 -- Smart display with Alexa – stay...,4.6,"298,030",$44.99
3,2021-02-01,4,"All-new Echo Dot (4th Gen, 2020 release) | Sma...",4.7,"138,241",$44.99
4,2021-02-01,5,Roku Streaming Stick+ | HD/4K/HDR Streaming De...,4.7,"62,702",$39.00

In [233]:
#convert price column and rating column to floats and then look at average price for expensive listings and for low-price items.

In [234]:
df = df.rename(columns={"name": "Product_Name"})

In [235]:
df['rating'] = pd.to_numeric(df['rating'].str.replace(',', ''), errors='coerce')

In [236]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18100 entries, 0 to 18099
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          18100 non-null  object
 1   number        18100 non-null  int64
 2   Product_Name  18100 non-null  object
 3   rating        17959 non-null  float64
 4   n_reviews     18100 non-null  object
 5   price         18100 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 848.6+ KB

In [237]:
df.describe()

             number        rating
count  18100.000000  17959.000000
mean      50.500000      4.624355
std       28.866867      0.185366
min        1.000000      1.000000
25%       25.750000      4.500000
50%       50.500000      4.700000
75%       75.250000      4.800000
max      100.000000      5.000000

In [238]:

df['price'] = pd.to_numeric(df['price'].replace('[\$,]', '', regex=True), errors='coerce')

df['price'].head()

0    39.99
1    24.99
2    44.99
3    44.99
4    39.00
Name: price, dtype: float64

In [239]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18100 entries, 0 to 18099
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          18100 non-null  object
 1   number        18100 non-null  int64
 2   Product_Name  18100 non-null  object
 3   rating        17959 non-null  float64
 4   n_reviews     18100 non-null  object
 5   price         17947 non-null  float64
dtypes: float64(2), int64(1), object(3)
memory usage: 848.6+ KB

In [240]:
df['n_reviews'] = pd.to_numeric(df['n_reviews'].replace('No customer reviews yet', float('nan')).replace(',', '', regex=True), errors='coerce')

In [241]:
df.describe()

             number        rating     n_reviews         price
count  18100.000000  17959.000000  1.795900e+04  17947.000000
mean      50.500000      4.624355  7.722091e+04     79.661105
std       28.866867      0.185366  1.649234e+05    101.162107
min        1.000000      1.000000  1.000000e+00      1.500000
25%       25.750000      4.500000  9.165500e+03     18.990000
50%       50.500000      4.700000  2.752700e+04     39.590000
75%       75.250000      4.800000  6.519000e+04     99.990000
max      100.000000      5.000000  1.154421e+06   1625.000000

In [242]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18100 entries, 0 to 18099
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          18100 non-null  object
 1   number        18100 non-null  int64
 2   Product_Name  18100 non-null  object
 3   rating        17959 non-null  float64
 4   n_reviews     17959 non-null  float64
 5   price         17947 non-null  float64
dtypes: float64(3), int64(1), object(2)
memory usage: 848.6+ KB

In [243]:
df["n_reviews"].head()

0    512797.0
1    328652.0
2    298030.0
3    138241.0
4     62702.0
Name: n_reviews, dtype: float64